<!DOCTYPE html>
<html>

<head>

    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/fixedsys-excelsior.css" />
    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class='container'>
            <div class="row">
                <div class="col-md-12">
                    <div class='col-md-12'>
                        <div class="navbar-header">
                            <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar'>

                                <span class='icon-bar'></span>
                                <span class='icon-bar'></span>
                                <span class='icon-bar'></span>
                            </button>
                            <a id='namelink' class="navbar-brand topnav" href="#">My Portfolio</a>
                        </div>
                        <div id='navbar' class='collapse navbar-collapse'>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="#home">Home</a>
                                </li>
                                <li>
                                    <a href="#about">About</a>
                                    <li>
                                        <a href="#portfolio">Portfolio</a>
                                    </li>
                                    <li>
                                        <a href="#contact">Contact</a>
                                    </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>