<%- include partials/header.ejs %>
    <main>
        <div class='container'>
            <div class='jumbotron'>
                <h1><%= title %></h1>
                <p>
                    Antagonized by heroku! About to bomb a walk in the park!
                </p>
            </div>
        </div>
    </main>
<%- include partials/footer.ejs %>