<%- include partials/header.ejs %>
    <main>
        <div class='container'>
            <div class='jumbotron'>
                <h1><%= title %></h1>
                <p>
                    Post data isn't here.  It should be, but it isn't.  It worked earlier, so I really don't know.<br>
                    This just keeps getting worse!
                </p>
            </div>
        </div>
    </main>
<%- include partials/footer.ejs %>