<%- include partials/header.ejs %>
    <main>
        <div class='container'>
            <div class='jumbotron'>
                <h1><%= title %></h1>
                <p>Errors made attempting to deploy site from c9.io, added entire directory to directory <br>
                It works now, though, but which file is heroku reading?</p>
                <form method='post' action='/contact/comments'>
                    <div>
                        <input type='text' name='username'>
                    </div>
                    <div>
                        <input type='text' name='comment'>
                    </div>
                    <div>
                        <button type='submit'>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
<%- include partials/footer.ejs %>
